* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
 
}
html{
  background-image: url(./img1/o\ proprio.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h1{
  color: antiquewhite;
  position: relative;
  left: 6vw;
  top: 6vh;
  text-transform: uppercase;
  font-size: medium;
 
}
figure{
  padding: 13px;
  position: relative;
  top: -2vh;
}
.logo-pequena{
  width: 54px;
  height: 96px;
 
}
.profile{
  display:inline-block;
  vertical-align:top;
  color: aliceblue;
  position: relative;
  left: 75vw;
  top: -8vh;

}
li{
  display:inline;
  cursor: pointer;
  text-transform: uppercase;
  padding-right: 5px;
  
}
li:hover{
  color:red;
}
a{
  text-decoration: none;
  color: antiquewhite;
}

.ditocujo{
  position: absolute;
  left: 35%;
  bottom: 0%;
}
section{
  position: relative;
  left: 39%;
  top: 65vh;
}
.wild{
  position: absolute;
  left: 37%;
  top: 55vh;
}

  @media only screen and (width: 375px) and (height: 812px) and (-webkit-device-pixel-ratio: 2){}
  html {
  width: 100vw;
  height: 100vh;
  background-image: url(./img1/iphone\ 2.jpg);
  overflow: hidden;
  }
  figure{
    padding: 0px;
    position: relative;
    top: 3vh;
    left: 12vw;
  }
  h1{
    color: antiquewhite;
    position: relative;
    left: 29vw;
    top: 7vh;
    text-transform: uppercase;
    font-size:small;
   
  }
  .logo-pequena{
    width: 45px;
    height: 50px;
   
  }
  .profile{
    display:inline-block;
    vertical-align:top;
    color: aliceblue;
    position: relative;
    left: 10vw;
    top: 5vh;
    font-size: 77%;
  
  }
  .ditocujo{
    position: absolute;
    left: -10%;
    top: 25%;
    width: 450px;
    height: 610px;
  }
  section{
    position: absolute;
    left: 5%;
    top: 90vh;
   
  }
  .wild{
    position: absolute;
    left: 18%;
    top: 59vh;
    width: 250px;
    height: 150px;
  }
  .assista{
    width: 190px;
  position: absolute;
  left: 20vw;
  top: -10vh;
  }
}