*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size:1.3vw;
  }
  html{
  height:100vh;
  background-image:url("./img1/fundo\ the\ witcher.png");
    background-size:cover;
    background-repeat:no-repeat;
    }
  .logo-contain{
    padding-left:12vw;
    padding-top:2vh;
    display:inline-block;
  }
  .logo-peq{
    width:4vw;
  }
  h1{
    vertical-align:top;
    margin-top:8vh;
    padding-left:2vw;
    display:inline-block;
  }
  nav{
    display:inline-block;
    vertical-align:top;
    padding-top:8vh;
    padding-left:30vw;
  }
  li{
    display:inline;
    padding-right:1vw;
  }
  li:hover{
    cursor:pointer;
    font-weight:1000;
  }
  body{
    height:100%;
    background-image:url("./img1/o\ dito\ cujo.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
  }
  .wild-hunt{
    padding-top:30vh;
    margin-left:40vw;
  }
  .wild-hunt img{
    width:20vw;
  }
  .assistir-agora img{
    width:25vw;
  }
  .assistir-agora{
    padding-top:2vh;
    margin-left:37%;
  }
  .assistir-agora:hover{
    transform: scale(1.1);
  }
  footer{
    position:absolute;
    top:90%;
    left:10%;
  }